##Stroke Prediction based on medical data
###Data set taken from Kaggle.com

###Importing required libraries

In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

###Importing the stroke dataset

In [41]:
data = pd.read_csv("data/stroke-data.csv")
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

###Dropping null values

In [42]:
data = data.dropna()

###Extracting numeric columns

In [43]:
cols = ['age', 'hypertension', 'heart_disease', 'avg_glucose_level', 'bmi']
x = data[cols]
y = data['stroke']

###Applying one-hot encoding to categorical columns

In [44]:
cols = ['gender','ever_married', 'work_type', 'Residence_type', 'smoking_status']
one_hot = pd.get_dummies(data[cols])
one_hot.describe

<bound method NDFrame.describe of       gender_Female  gender_Male  gender_Other  ever_married_No  \
0                 0            1             0                0
2                 0            1             0                0
3                 1            0             0                0
4                 1            0             0                0
5                 0            1             0                0
...             ...          ...           ...              ...
5104              1            0             0                1
5106              1            0             0                0
5107              1            0             0                0
5108              0            1             0                0
5109              1            0             0                0

      ever_married_Yes  work_type_Govt_job  work_type_Never_worked  \
0                    1                   0                       0
2                    1                   0                       0
3                    1                   0                       0
4                    1                   0                       0
5                    1                   0                       0
...                ...                 ...                     ...
5104                 0                   0                       0
5106                 1                   0                       0
5107                 1                   0                       0
5108                 1                   0                       0
5109                 1                   1                       0

      work_type_Private  work_type_Self-employed  work_type_children  \
0                     1                        0                   0
2                     1                        0                   0
3                     1                        0                   0
4                     0                        1                   0
5                     1                        0                   0
...                 ...                      ...                 ...
5104                  0                        0                   1
5106                  0                        1                   0
5107                  0                        1                   0
5108                  1                        0                   0
5109                  0                        0                   0

      Residence_type_Rural  Residence_type_Urban  smoking_status_Unknown  \
0                        0                     1                       0
2                        1                     0                       0
3                        0                     1                       0
4                        1                     0                       0
5                        0                     1                       0
...                    ...                   ...                     ...
5104                     1                     0                       1
5106                     0                     1                       0
5107                     1                     0                       0
5108                     1                     0                       0
5109                     0                     1                       1

      smoking_status_formerly smoked  smoking_status_never smoked  \
0                                  1                            0
2                                  0                            1
3                                  0                            0
4                                  0                            1
5                                  1                            0
...                              ...                          ...
5104                               0                            0
5106                               0                            1
5107                               0                            1
5108                               1                            0
5109                               0                            0

      smoking_status_smokes
0                         0
2                         0
3                         1
4                         0
5                         0
...                     ...
5104                      0
5106                      0
5107                      0
5108                      0
5109                      0

[4909 rows x 16 columns]>

In [45]:
x = pd.concat([x, one_hot], axis = 1)

In [46]:
x.head()

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_Unknown,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,67.0,0,1,228.69,36.6,0,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0
2,80.0,0,1,105.92,32.5,0,1,0,0,1,...,0,1,0,0,1,0,0,0,1,0
3,49.0,0,0,171.23,34.4,1,0,0,0,1,...,0,1,0,0,0,1,0,0,0,1
4,79.0,1,0,174.12,24.0,1,0,0,0,1,...,0,0,1,0,1,0,0,0,1,0
5,81.0,0,0,186.21,29.0,0,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0