##Importing required libraries

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

###Importing the stroke dataset

In [14]:
data = pd.read_csv("data/stroke-data.csv")
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

###Extracting numeric columns

In [5]:
cols = ['age', 'hypertension', 'heart_disease', 'avg_glucose_level', 'bmi']
x = data[cols]
y = data['stroke']

In [6]:
x.describe

<bound method NDFrame.describe of        age  hypertension  heart_disease  avg_glucose_level   bmi
0     67.0             0              1             228.69  36.6
1     61.0             0              0             202.21   NaN
2     80.0             0              1             105.92  32.5
3     49.0             0              0             171.23  34.4
4     79.0             1              0             174.12  24.0
...    ...           ...            ...                ...   ...
5105  80.0             1              0              83.75   NaN
5106  81.0             0              0             125.20  40.0
5107  35.0             0              0              82.99  30.6
5108  51.0             0              0             166.29  25.6
5109  44.0             0              0              85.28  26.2

[5110 rows x 5 columns]>

In [11]:
x.dropna()

       age  hypertension  heart_disease  avg_glucose_level   bmi
0     67.0             0              1             228.69  36.6
2     80.0             0              1             105.92  32.5
3     49.0             0              0             171.23  34.4
4     79.0             1              0             174.12  24.0
5     81.0             0              0             186.21  29.0
...    ...           ...            ...                ...   ...
5104  13.0             0              0             103.08  18.6
5106  81.0             0              0             125.20  40.0
5107  35.0             0              0              82.99  30.6
5108  51.0             0              0             166.29  25.6
5109  44.0             0              0              85.28  26.2

[4909 rows x 5 columns]

In [12]:
x.isnull().sum()

age                  0
hypertension         0
heart_disease        0
avg_glucose_level    0
bmi                  0
dtype: int64